@model IEnumerable<ProjectTAMA.Models.PlaceDescriptionViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaceName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlaceDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Difficulty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfVisit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelsAvailable)
        </th>
        <th></th>
    </tr>

 @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Difficulty)
            </td>
            <td>
                <img src="@Url.Content("~/PlaceImages/"+@item.TimeOfVisit)" height="40" weidth="40" />
                @Html.DisplayFor(modelItem => item.TimeOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HotelsAvailable)
            </td>
            <td>
                <span class="glyphicons glyphicons-edit"></span>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
               
               
                <span class="glyphicons glyphicons-delete"> </span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                
            </td>
        </tr>
    }

</table>
